$--white: white;

body{
    margin: 0;
    padding: 0;
    background-color: #2832ba;
    color: white;
    font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    text-align: center;

}

main{
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 700;
}

input{
    border: solid $--whites ;
    border-radius: 5px;
}


.line{
    padding-top: 200px;
}